body{
    background-color: rgb(241, 241, 231);
    
}
.navbar{
    background-color: rgb(135, 77, 7);
    height: 75px;
    padding-left: 740px;
    

}
.navbar > ul{
    display:flex;
}
.navbar >ul >li {
    list-style-type :none;
    padding: 5px;
    padding-top: 30px;
    
}
.navbar >ul >li > a {
    text-decoration :none;

}
.fss{
    display: flex;
}
.pic{
    position: fixed;
    height: auto;
    padding-left: 0px;
    width: 75px;
    
}
.pic2{
    padding-top: 50px;
    width: 250px;
}
section{
    display: flex;
    
    }
.words{
    padding:100px ;
}
.password{
    visibility: hidden;
}
.email{
    visibility: hidden;
}
.active{
    visibility: visible;
}